@page
@model AdAstra.Pages.Admin.AdminReply.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].ParentReply)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reply) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentReply.Content)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
