@page
@model AdAstra.Pages.Admin.AdminPost.IndexModel

@{
    ViewData["Title"] = "Admin - Posts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin - Posts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Replies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Reports)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Replies.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reports.Count)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
