@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthyear</th>
            <th>Avatar</th>
        </tr>
        @foreach (var user in Model.Users)
        {
           
            <tr>
                <td>@user.UserName</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Birthyear</td>
                <td><img src="@Url.Content(user.Avatar)" alt="Alternate Text" style="width: 50px" /></td>
            </tr>
        }

    </table>
    
</div>
