@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="category-list col-3">
        <div class="text-start">
            <h1><a asp-page="/Categories">Categories</a></h1>
            @foreach (var category in Model.Categories.Where(c => c.ParentCategory == null))
            {
                <h3>@category.Name</h3>
            }
        </div>
    </div>

    <div class="col-9">
        <h3 class="latest">Latest</h3>
        @foreach (var post in Model.Posts.Take(5).OrderByDescending(p => p.CreatedAt))
        {
            <div class="card post">
                <div class="card-body">
                    @{
                        var imgSrc = string.Empty;
                        if (post.Creator.Avatar == "~/img/user.png")
                        {
                            imgSrc = post.Creator.Avatar;
                        }
                        else
                        {
                            imgSrc = "~/userImages/" + post.Creator.Avatar;
                        }
                    }

                    <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar"/>
                    <p class="card-text post-firstname">@post.Creator.Firstname</p>
                    <p class="card-text post-date">@post.CreatedAt</p>
                    <h5 class="card-title post-title">@post.Title</h5>
                    <div class="stats">
                        <p class="card-text post-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments"/>@post.Replies.Count</p>
                        <p class="card-text post-likes"><img src="~/img/interactive_icons/like.svg" alt="likes"/>@post.Likes</p>
                        <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports"/>@post.Reports.Count</p>
                    </div>



                </div>
            </div>
            <br />
        }


        @* <table class="table table-striped">
        <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthyear</th>
        <th>Avatar</th>
        </tr>
        @foreach (var user in Model.Users)
        {
        var imgSrc = string.Empty;
        if (user.Avatar == "~/img/user.png")
        {
        imgSrc = user.Avatar;
        }
        else
        {
        imgSrc = "~/userImages/" + user.Avatar;
        }
        <tr>
        <td>@user.UserName</td>
        <td>@user.Firstname</td>
        <td>@user.Lastname</td>
        <td>@user.Birthyear</td>
        <td><img class="avatar" src="@Url.Content(imgSrc)" alt="Avatar" /></td>
        </tr>
        }
        </table> *@
    </div>
</div>




@* <div class="text-center">
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthyear</th>
            <th>Avatar</th>
        </tr>
        @foreach (var user in Model.Users)
        {
            var imgSrc = string.Empty;
            if (user.Avatar == "~/img/user.png")
            {
                imgSrc = user.Avatar;
            }
            else
            {
                imgSrc = "~/userImages/" + user.Avatar;
            }
            <tr>
                <td>@user.UserName</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Birthyear</td>
                <td><img class="avatar" src="@Url.Content(imgSrc)" alt="Avatar" /></td>
            </tr>
        }

    </table>

</div> *@

@* <div class="text-start">
    @foreach(var category in Model.Categories.Where(c=> c.ParentCategory == null))
    {
         <h1 class="display-4">@category.Name</h1>

    foreach(var subcategory in category.Subgategories)
        {
            <h1 style="margin-left: 3rem" class="display-6">@subcategory.Name</h1>
        }
    }
</div> *@