@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthyear</th>
            <th>Avatar</th>
        </tr>
        @foreach (var user in Model.Users)
        {
            var imgSrc = string.Empty;
            if (user.Avatar == "~/img/user.png")
            {
                imgSrc = user.Avatar;
            }
            else
            {
                imgSrc = "~/userImages/" + user.Avatar;
            }
            <tr>
                <td>@user.UserName</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Birthyear</td>
                <td><img src="@Url.Content(imgSrc)" alt="Alternate Text" style="width: 30px" /></td>
            </tr>
        }

    </table>      
    
</div>

<div class="text-start">
    @foreach(var category in Model.Categories)
    {
        <h1 class="display-4">@category.Name</h1>
        foreach(var subcategory in category.Subgategories)
        {
            <h1 style="margin-left: 3rem" class="display-6">@subcategory.Name</h1>
        }
    }
</div>