@page
@using System.Security.Claims

@model AdAstra.Pages.PostModel
@{
    ViewData["Title"] = "@Model.Post.Title";
    var imgSrc = string.Empty;
    string userId = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
    var postId = Model.Post.Id;
}
<br />
@if (Model.Post is not null)
{
    <h1>@Model.Post.Title</h1>
    <br />
    <div class="card post post-page">
        <div class="card-body">
            @{
                imgSrc = string.Empty;
                if (Model.Post.Creator.Avatar == "~/img/user.png")
                {
                    imgSrc = Model.Post.Creator.Avatar;
                }
                else
                {
                    imgSrc = "~/userImages/" + Model.Post.Creator.Avatar;
                }
            }

            <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
            <p class="card-text post-firstname">@Model.Post.Creator.Firstname</p>
            <p class="card-text post-date">@Model.Post.CreatedAt</p>
            <h5 class="card-title post-title"><a asp-route-postId="@Model.Post.Id" asp-page="/Post">@Model.Post.Title</a></h5>
            <p class="card-text post-content">@Model.Post.Content</p>
            <div class="stats">


                @if (User.Identity.IsAuthenticated)
                {
                    //toggle
                    <div class="create-reply">
                        <p class="card-text post-replies create-reply-toggle">
                            <button class="action-button" type="button" data-bs-toggle="collapse" data-bs-target="#createReplyForm" aria-expanded="false" aria-controls="collapseExample">
                                <img src="~/img/interactive_icons/comment.svg" alt="comments" />
                            </button> @Model.Post.Replies.Count
                        </p>
                    </div>
                }
                else
                {
                    <p class="card-text post-replies">
                        <button class="action-button" type="button" onclick="showAlert()">
                            <img src="~/img/interactive_icons/comment.svg" alt="comments" />
                        </button> @Model.Post.Replies.Count
                    </p>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <form class="action-form" method="post" asp-page-handler="LikePost" asp-route-postId="@Model.Post.Id">
                        <input type="hidden" name="postId" value="@Model.Post.Id" />
                        <p class="card-text post-likes">
                            <button class="action-button" type="submit">
                                <img src="~/img/interactive_icons/like.svg" alt="likes" />
                            </button> @Model.Post.Likes
                        </p>
                    </form>
                }
                else
                {
                    <p class="card-text post-likes">
                        <button class="action-button" type="button" onclick="showAlert()">
                            <img src="~/img/interactive_icons/like.svg" alt="likes" />
                        </button> @Model.Post.Likes
                    </p>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <form class="action-form" method="post" asp-page-handler="ReportPost" asp-route-postId="@Model.Post.Id">
                        <input type="hidden" name="postId" value="@Model.Post.Id" />
                        <p class="card-text post-reports">
                            <button class="action-button" type="submit">
                                <img src="~/img/interactive_icons/report.svg" alt="reports" />
                            </button> @Model.Reports.Count
                        </p>
                    </form>
                }
                else
                {
                    <p class="card-text post-reports">
                        <button class="action-button" type="button" onclick="showAlert()">
                            <img src="~/img/interactive_icons/report.svg" alt="reports" />
                        </button> @Model.Reports.Count
                    </p>
                }

                <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />Total: @Model.Post.Reports.Count</p>
            </div>
        </div>

    </div>
    <div class="create-reply-form-container">
        <form class="collapse create-reply-form" id="createReplyForm" asp-page-handler="CreateReply">

            <div class="form-group">
                @* <label asp-for="Reply.Content" class="control-label create-post-label"></label> *@
                <textarea rows="5" cols="50" asp-for="PostReply.Content" class="form-control create-reply create-reply-content"></textarea>
                <span asp-validation-for="PostReply.Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PostReply.UserId" value="@userId" />
            <input type="hidden" asp-for="PostReply.PostId" value="@postId" />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary create-reply-btn" />
            </div>
            <br>
        </form>
    </div>

    @if (Model.Post.Replies is not null)
    {
        @foreach (var reply in Model.Post.Replies)
        {
            @if (reply.ParentReplyId is null)
            {
                <div class="card reply reply-page">
                    <div class="card-body">
                        @{
                            if (reply.Creator.Avatar == "~/img/user.png")
                            {
                                imgSrc = reply.Creator.Avatar;
                            }
                            else
                            {
                                imgSrc = "~/userImages/" + reply.Creator.Avatar;
                            }
                        }

                        <img class="reply-round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
                        <p class="card-text reply-firstname">@reply.Creator.Firstname</p>
                        <p class="card-text reply-date">@reply.CreatedAt</p>
                        <p class="card-text reply-content">@reply.Content</p>
                        <div class="stats">

                            @if (User.Identity.IsAuthenticated)
                            {
                                //toggle
                                <div class="create-reply">
                                    <p class="card-text post-replies create-reply-toggle">
                                        <button class="action-button" type="button" data-bs-toggle="collapse" data-bs-target="#createSubreplyForm_@reply.Id" aria-expanded="false" aria-controls="collapseExample">
                                            <img src="~/img/interactive_icons/comment.svg" alt="comments" />
                                        </button> @reply.Replies.Count
                                    </p>
                                </div>
                            }
                            else
                            {
                                <p class="card-text post-replies">
                                    <button class="action-button" type="button" onclick="showAlert()">
                                        <img src="~/img/interactive_icons/comment.svg" alt="comments" />
                                    </button> @reply.Replies.Count
                                </p>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <form class="action-form" method="post" asp-page-handler="LikeReply" asp-route-postId="@Model.Post.Id">
                                    <input type="hidden" name="id" value="@reply.Id" />
                                    <p class="card-text reply-likes">
                                        <button class="action-button" type="submit">
                                            <img src="~/img/interactive_icons/like.svg" alt="likes" />
                                        </button> @reply.Likes
                                    </p>

                                </form>
                            }
                            else
                            {
                                <p class="card-text reply-likes">
                                    <button class="action-button" type="button" onclick="showAlert()">
                                        <img src="~/img/interactive_icons/like.svg" alt="likes" />
                                    </button> @reply.Likes
                                </p>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <form class="action-form" method="post" asp-page-handler="ReportReply" asp-route-postId="@Model.Post.Id">
                                    <input type="hidden" name="id" value="@reply.Id" />
                                    <p class="card-text reply-reports">

                                        <button class="action-button" type="submit">
                                            <img src="~/img/interactive_icons/report.svg" alt="reports" />
                                        </button> @reply.Reports.Count
                                    </p>
                                </form>
                            }
                            else
                            {
                                <p class="card-text reply-reports">
                                    <button class="action-button" type="button" onclick="showAlert()">
                                        <img src="~/img/interactive_icons/report.svg" alt="reports" />
                                    </button> @reply.Reports.Count
                                </p>
                            }

                        </div>
                    </div>
                </div>
            }

            //Need to implement ParentReply!!!!!
            <div class="create-reply-form-container">
                <form class="collapse create-reply-form" id="createSubreplyForm_@reply.Id" asp-page-handler="CreateSubreply">

                    <div class="form-group">
                        @* <label asp-for="Reply.Content" class="control-label create-post-label"></label> *@
                        <textarea rows="5" cols="50" asp-for="ReplySubreply.Content" class="form-control create-reply create-reply-content"></textarea>
                        <span asp-validation-for="ReplySubreply.Content" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="ReplySubreply.UserId" value="@userId" />
                    //Problem here!
                    <input type="hidden" asp-for="ReplySubreply.PostId" value="@postId" />
                    <input type="hidden" asp-for="ReplySubreply.ParentReplyId" value="@reply.Id" />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary create-reply-btn" />
                    </div>
                    <br>
                </form>
            </div>

            if (reply.Replies is not null)
            {
                @foreach (var subreply in reply.Replies)
                {
                    if (subreply.ParentReplyId == reply.Id)
                    {
                        <div class="card reply subreply reply-page @if(subreply.Replies.Count == 0){
<text>sub-subreply</text>
;}">
                                                                                                                            <div class="card-body">
                                @{
                                    if (subreply.Creator.Avatar == "~/img/user.png")
                                    {
                                        imgSrc = subreply.Creator.Avatar;
                                    }
                                    else
                                    {
                                        imgSrc = "~/userImages/" + subreply.Creator.Avatar;
                                    }
                                }

                                                                                                                                <img class="reply-round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
                                                                                                                                <p class="card-text reply-firstname">@subreply.Creator.Firstname</p>
                                                                                                                                <p class="card-text reply-date">@subreply.CreatedAt</p>
                                                                                                                                <p class="card-text reply-content">@subreply.Content</p>
                                                                                                                                <div class="stats">
                                                                                                                                    <p class="card-text reply-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments" />@subreply.Replies.Count</p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                                                                                                                                          <form class="action-form" method="post" asp-page-handler="LikeSubreply" asp-route-postId="@Model.Post.Id">
                                                                                                                                                             <input type="hidden" name="replyId" value="@reply.Id" />
                                                                                                                                                             <input type="hidden" name="subreplyId" value="@subreply.Id" />
                                                                                                                                                             <p class="card-text reply-likes">
                                                                                                                                                                <button class="action-button" type="submit">
                                                                                                                                                                    <img src="~/img/interactive_icons/like.svg" alt="likes" />
                                                                                                                                                                </button> @subreply.Likes
                                                                                                                                                                </p>
                                                                                                                                                          </form>
                                    }
                                    else
                                    {
                                                                                                                                                            <p class="card-text reply-likes">
                                                                                                                                                            <button class="action-button" type="button" onclick="showAlert()">
                                                                                                                                                                <img src="~/img/interactive_icons/like.svg" alt="likes" />
                                                                                                                                                            </button> @subreply.Likes
                                                                                                                                                            </p>
                                    }

                                                                                                                                    <p class="card-text reply-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />@subreply.Reports.Count</p>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                                                                                                                                        <form class="action-form" method="post" asp-page-handler="ReportSubreply" asp-route-postId="@Model.Post.Id">
                                                                                                                                                            <input type="hidden" name="replyId" value="@reply.Id" />
                                                                                                                                                            <input type="hidden" name="subreplyId" value="@subreply.Id" />
                                                                                                                                                            <p class="card-text reply-reports">
                                                                                                                                                                <button class="action-button" type="submit">
                                                                                                                                                                    <img src="~/img/interactive_icons/report.svg" alt="reports" />
                                                                                                                                                                </button> @subreply.Reports.Count
                                                                                                                                                            </p>
                                                                                                                                                        </form>
                                    }
                                    else
                                    {
                                                                                                                                                        <p class="card-text reply-reports">
                                                                                                                                                            <button class="action-button" type="button" onclick="showAlert()">
                                                                                                                                                                <img src="~/img/interactive_icons/report.svg" alt="reports" />
                                                                                                                                                            </button> @subreply.Reports.Count
                                                                                                                                                        </p>
                                    }

                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                    }
                }
            }
        }
    }
}

<script type="text/javascript">
    function showAlert() {
        alert("You must be logged in to perform this action.");
    }
</script>




