@page
@using System.Security.Claims
@model AdAstra.Pages.PostsModel
@{
    ViewData["Title"] = "Posts";
    var imgSrc = string.Empty;
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var category = Model.Category;

}
<br />
<div class="category_create-post">
    <h1 class="category-name">@category.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-dark create-post-btn" type="button" data-bs-toggle="collapse" data-bs-target="#createPostForm" aria-expanded="false" aria-controls="collapseExample">
            Create Post
        </button>

        <form class="collapse" id="createPostForm" method="post" >
            <h3>Creating post in @Model.Category.Name</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <input asp-for="Post.Content" class="form-control" />
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Post.CategoryId" value="@Model.Category.Id" />
            <input type="hidden" asp-for="Post.UserId" value="@userId" />
            @* <div class="form-group">
                <label hidden asp-for="Post.CategoryId" class="control-label"></label>
                <input type="hidden" asp-for="Post.CategoryId"/>
                <select hidden asp-for="Post.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div> *@
            @* <input type="hidden" name="userId" value="@userId" /> *@
            @* <div class="form-group">
                <input type="hidden" asp-for="Post.UserId"/>
                <label hidden asp-for="Post.UserId" class="control-label"></label>
                <select hidden asp-for="Post.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    }
</div>


<br />
@if (Model.Posts is not null)
{
    @foreach (var post in Model.Posts)
    {
        <div class="card post post-page">
            <div class="card-body">
                @{

                    if (post.Creator.Avatar == "~/img/user.png")
                    {
                        imgSrc = post.Creator.Avatar;
                    }
                    else
                    {
                        imgSrc = "~/userImages/" + post.Creator.Avatar;
                    }
                }

                <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
                <p class="card-text post-firstname">@post.Creator.Firstname</p>
                <p class="card-text post-date">@post.CreatedAt</p>
                <h5 class="card-title post-title"><a asp-route-postId="@post.Id" asp-page="/Post">@post.Title</a></h5>
                <div class="stats">
                    <p class="card-text post-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments" />@post.Replies.Count</p>
                    <p class="card-text post-likes"><img src="~/img/interactive_icons/like.svg" alt="likes" />@post.Likes</p>
                    <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />@post.Reports.Count</p>
                </div>
            </div>
        </div>

    }
}





@* <div class="card post">
    <div class="card-body">
        @{
            var imgSrc = string.Empty;
            if (post.Creator.Avatar == "~/img/user.png")
            {
                imgSrc = post.Creator.Avatar;
            }
            else
            {
                imgSrc = "~/userImages/" + post.Creator.Avatar;
            }
        }

        <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
        <p class="card-text post-firstname">@post.Creator.Firstname</p>
        <p class="card-text post-date">@post.CreatedAt</p>
        <h5 class="card-title post-title">@post.Title</h5>
        <div class="stats">
            <p class="card-text post-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments" />@post.Replies.Count</p>
            <p class="card-text post-likes"><img src="~/img/interactive_icons/like.svg" alt="likes" />@post.Likes</p>
            <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />@post.Reports.Count</p>
        </div>



    </div> *@
