@page
@model AdAstra.Pages.PostsModel
@{
    ViewData["Title"] = "Posts";
    var imgSrc = string.Empty;
}
<br />
<h1>@Model.Category.Name</h1>
<br />
@if (Model.Posts is not null)
{
    @foreach (var post in Model.Posts)
    {
        <div class="card post post-page">
            <div class="card-body">
                @{

                    if (post.Creator.Avatar == "~/img/user.png")
                    {
                        imgSrc = post.Creator.Avatar;
                    }
                    else
                    {
                        imgSrc = "~/userImages/" + post.Creator.Avatar;
                    }
                }

                <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
                <p class="card-text post-firstname">@post.Creator.Firstname</p>
                <p class="card-text post-date">@post.CreatedAt</p>
                <h5 class="card-title post-title"><a asp-route-postId="@post.Id" asp-page="/Post">@post.Title</a></h5>
                <div class="stats">
                    <p class="card-text post-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments" />@post.Replies.Count</p>
                    <p class="card-text post-likes"><img src="~/img/interactive_icons/like.svg" alt="likes" />@post.Likes</p>
                    <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />@post.Reports.Count</p>
                </div>
            </div>
        </div>

    }
}





@* <div class="card post">
    <div class="card-body">
        @{
            var imgSrc = string.Empty;
            if (post.Creator.Avatar == "~/img/user.png")
            {
                imgSrc = post.Creator.Avatar;
            }
            else
            {
                imgSrc = "~/userImages/" + post.Creator.Avatar;
            }
        }

        <img class="round-avatar avatar" src="@Url.Content(imgSrc)" alt="Avatar" />
        <p class="card-text post-firstname">@post.Creator.Firstname</p>
        <p class="card-text post-date">@post.CreatedAt</p>
        <h5 class="card-title post-title">@post.Title</h5>
        <div class="stats">
            <p class="card-text post-replies"><img src="~/img/interactive_icons/comment.svg" alt="comments" />@post.Replies.Count</p>
            <p class="card-text post-likes"><img src="~/img/interactive_icons/like.svg" alt="likes" />@post.Likes</p>
            <p class="card-text post-reports"><img src="~/img/interactive_icons/report.svg" alt="reports" />@post.Reports.Count</p>
        </div>



    </div> *@
